<div class='row mb-4'>
  <div class="col-md-6 offset-md-3">
    <div class="media">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0"><%= user.username%></h5>
        <p>User Bio</p>
      </div>
    </div>
  </div>
</div>